<link rel="stylesheet" href="pages/{lclsname}/{flclsname}.css" />
<title>**</title>
<div class="row" ng-controller="{clsname}Controller">
	<!-- start 定义表单查询-->
	<form class="form-12">
		<div class="row header-information">
            {srchcondition}
            <div class="btn-beyond-one-row">
	            <div class="right btn-beyond-one-row-bottom">
	                <input type="button" class="btn btn-query btn-word-two" value="查询" ng-click="find()">
	                <input type="button" class="btn btn-reset btn-word-two" value="重置" ng-click="reset()">
	            </div>
	            <div>
	                <button class="btn btn-success btn-seperate" ng-click="initAddParam()" data-toggle="modal" data-target="#my{flclsname}Modal">新增</button>
    				<button class="btn btn-success" ng-click="exportExcel()">导出报表</button>
	            </div>

        	</div>
        </div>   
	 </form>
	
	<!--End 表单查询 -->
	
	<!--PAGE CONTENT -->
    <div class="col-xs-12 clear-padding-right">
        <div class="row">
            <div class="col-xs-12 clear-padding-right">
                <div>
                    <table id="{flclsname}_dynamic-table"  class="cell-border stripe" cellspacing="0" width="100%">

                    </table>
                </div>
            </div>
        </div>
    </div>
	<!-- PAGE CONTENT ENDS -->
	<!-- /.col -->
<!-- 新增 修改 模态框（Modal） -->
<div class="modal fade" id="my{flclsname}Modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true"
	data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
				{formtitle}维护
				</h4>
			</div>
			<div class="modal-body">
				<!-- 添加表单内容-->
					<form class="form-horizontal" role="form" name="myForm" novalidate>
{bodyinputs}
						<div>
							<input type="hidden" ng-bind="modalEntity.recordIndex">
						</div>
					</form>
					<!--End  添加表单内容-->
			</div>
			<div class="modal-footer">
				<span class="btn btn-info btn-sm popover-info" data-rel="popover"
					data-placement="bottom" title="" ng-click="save(modalEntity)"
					ng-disabled="{fieldvalids}">&nbsp;确定&nbsp;</span>
				<span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
			</div>
		</div>
	</div>
</div>
		<!-- /.modal -->
</div>