<link rel="stylesheet" href="{lclsname}/{flclsname}.css" />
<title>**</title>
<div ng-controller="{clsname}Controller">
	<div  class="row">
		<ol class="breadcrumb">
			<li><a>管理</a></li>
			<li class="active">**</li>
		</ol>
	</div>
	<br>
	<div class="row">
		<!-- start 定义表单查询-->
		<form class="form-horizontal">
				<div class="row">
					<div class=col-xs-12>
						<div class="alert alert-success" ng-show="resultFlag">
							<span ng-bind="resultInfo"></span>
						</div>
					</div>
				</div>
				<div class="row header-information">
		            {srchcondition}
		            <div class="col-xs-3">
						<div class="form-group">
							<div class="form-group button-left-style">
							    <input type="submit" class="btn btn-success" value="查询" ng-click="find()">
								<input type="reset"  class="btn" value="重置" ng-click="reset()">	
							</div>				
						</div>
	                </div>
		        </div>   
		  </form>
		</div>
		<!--End 表单查询 -->
		<br>
		<div class="row input-button-style">
	        <button class="btn btn-success" ng-click="initAddParam()" data-toggle="modal" data-target="#my{flclsname}Modal">新增</button>
			<!-- <button class="btn btn-success" ng-click="batchRemove()">删除</button>  -->
		</div>
		<br>
		
		<!--PAGE CONTENT -->
		<div class="row">
					<table id="{flclsname}_dynamic_table" class="table table-striped table-bordered table-hover" datatable="ng"  dt-options="dtOptions" dt-column-defs="dtColumnDefs">
						<thead>
							<tr>
								<th class="center hidden-180 sorting_disabled">
									<label> 
									<input type="checkbox" class="ace"  data-checkbox="true" id="{flclsname}_SelectAll" ng-click="selectAll()">
									<span class="lbl"></span>
									</label>
								</th>
	{theadFields}
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="listEntity in listEntitys">
								<td class="center">
									<label>
										<input type="checkbox" class="ace" id="{{{clsname}.id}}" name="checkData">
									 	<span class="lbl"></span> 
							       </label>
						       </td>
{tbodyFields}
                                <td>
									<div>
										<div><input type="hidden" ng-bind="listEntity.recordIndex"></div>
										<div class="hidden-sm hidden-xs action-buttons">
											<a class="green" title="修改" ng-click="initUpdateParam(listEntity,$index)" data-toggle="modal" data-target="#my{flclsname}Modal"><i class="ace-icon fa fa-pencil bigger-130"></i></a>
											<a class="red" title="删除"><i class="ace-icon fa fa-trash-o bigger-130" ng-click="remove(listEntity,$index)"></i></a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
			<!-- PAGE CONTENT ENDS -->
		</div>
		<!-- /.col -->
		<!-- 新增 修改 模态框（Modal） -->
		<div class="modal fade" id="my{flclsname}Modal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"
			data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">
						{formtitle}维护
						</h4>
					</div>
					<div class="modal-body">
						<!-- 添加表单内容-->
						<form class="form-horizontal" role="form" name="myForm" novalidate>
	{bodyinputs}
							<div>
								<input type="hidden" ng-bind="modalEntity.recordIndex">
							</div>
						</form>
						<!--End  添加表单内容-->
					</div>
					<div class="modal-footer">
						<span class="btn btn-info btn-sm popover-info" data-rel="popover"
							data-placement="bottom" title="" ng-click="save(modalEntity)"
							ng-disabled="{fieldvalids}">&nbsp;确定&nbsp;</span>
						<span class="btn btn-info btn-sm popover-info" data-rel="popover" data-placement="bottom" title="" data-dismiss="modal">&nbsp;取消&nbsp;</span>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal -->
	</div>