<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quantdo.iwin.mapper.MVOAlgorithmMapper">
	
	<!-- 获取模拟组合产品存续期（共有） -->
	<select id="getYieldDateList" parameterType="map" resultType="com.quantdo.iwin.response.DurationResponse">
		SELECT 
		  date minDate
		FROM
		  t_product_period_kpi_statistics 
		WHERE kpi='020032' 
		and product_id IN 
			<foreach item="id" index="index" collection="productIds" open="(" separator="," close=")">  
		            #{id}
		    </foreach>
		    <if test="minDate != null and minDate !=''">
				and DATE &gt;= #{minDate,jdbcType=VARCHAR} 
		    </if>
		    <if test="maxDate != null and maxDate !=''">
			 	AND DATE &lt;= #{maxDate,jdbcType=VARCHAR}  
		    </if>
		GROUP BY DATE 
		HAVING COUNT(product_id) =#{totalNum,jdbcType=INTEGER}  
		ORDER BY DATE 
	</select>
	<!-- 资产基金的估值表的市值-->
	<select id="getYeildRateList" parameterType="map" resultType="com.quantdo.iwin.entity.ProductPeriodKPIStatistics">
		SELECT 
		  t.product_id productID,
		  t.date,
		  t.today 
		FROM
		  t_product_period_kpi_statistics t 
		WHERE t.product_id IN 
		  <foreach item="id" index="index" collection="productIds" open="(" separator="," close=")">  
		            #{id}
		    </foreach>
		  AND t.kpi = '020032' 
		  AND t.date IN 
		  <foreach item="durationResponse" index="index" collection="dates" open="(" separator="," close=")">  
	            #{durationResponse.minDate}
		  </foreach>
		  ORDER BY product_id,DATE 
	</select>
</mapper>
