<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quantdo.iwin.mapper.ProductFactorPeriodKPIStatisticsMapper">

	<delete id="deleteProrductFactorPeriod" parameterType="map">
		delete from t_product_factor_period_kpi_statistics  
		where date between #{analysisProductPeriod.startDate ,jdbcType=VARCHAR} and #{analysisProductPeriod.endDate ,jdbcType=VARCHAR}
	<if test="analysisProductPeriod != null">
		<if test="analysisProductPeriod.productID  != null and analysisProductPeriod.productID != ''">
			and product_id = #{analysisProductPeriod.productID ,jdbcType=VARCHAR}
		</if>
		<if test="analysisProductPeriod.kpiType != 0">
			AND KPI IN 
				  (SELECT 
				    a.KPI 
				  FROM
				    t_kpi_dictionary a 
				  WHERE a.type = #{analysisProductPeriod.kpiType,jdbcType=VARCHAR})
		</if>
		<if test="analysisProductPeriod.kpiCodes != null ">
			and kpi in
			<foreach item="kpiCode" index="index" collection="analysisProductPeriod.kpiCodes" open="(" separator="," close=")">  
	            #{kpiCode}  
	  		</foreach>
		</if>
	</if>
	</delete>
	
</mapper>