<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quantdo.iwin.mapper.ProductPeriodHisStatisticsMapper">

	<!-- 删除产品行业周期统计表 -->
    <delete id="delProductPeriodHisStatistics" parameterType="map">
		delete from t_product_period_his_statistics
		where 1=1
		<if test="request != null">
			<if test="request.beginDate  != null and request.beginDate != ''">
				and date &gt;= #{request.beginDate ,jdbcType=VARCHAR}
			</if>
			<if test="request.endDate  != null and request.endDate != ''">
				and date &lt;= #{request.endDate ,jdbcType=VARCHAR}
			</if>
			<if test="request.statDate  != null and request.statDate != ''">
				and stat_date = #{request.statDate ,jdbcType=VARCHAR}
			</if>
			<if test="request.productId  != null and request.productId != ''">
				and product_id = #{request.productId ,jdbcType=VARCHAR}
			</if>
			<if test="request.kpiType != 0">
				AND kpi IN 
					  (SELECT 
					    a.KPI 
					  FROM
					    t_kpi_dictionary a 
					  WHERE a.type = #{request.kpiType,jdbcType=VARCHAR})
			</if>
			<if test="request.kpiCodes != null ">
				and kpi in
				<foreach item="kpiCode" index="index" collection="request.kpiCodes" open="(" separator="," close=")">  
		            #{kpiCode}  
		  		</foreach>
			</if>
		</if>
	</delete>
	
	<!-- 获取计算夏普率使用指标数据（年化收益率，年化标准差） -->
	<select id="getHisStatisticsForSharp" parameterType="map" resultType="com.quantdo.iwin.entity.ProductPeriodHisStatistics">
		SELECT 
		  a.date DATE,
		  a.period_type periodType,
		  a.product_id productID,
		  a.value VALUE 
		FROM
		  t_product_period_his_statistics a 
		WHERE a.product_id = #{request.productId,jdbcType=VARCHAR}  
		  AND a.KPI = #{request.kpi,jdbcType=VARCHAR}  
		  AND stat_date = (SELECT stat_date
		  	FROM t_product_period_his_statistics WHERE product_id =#{request.productId,jdbcType=VARCHAR} AND kpi=#{request.kpi,jdbcType=VARCHAR} 
		  	ORDER BY stat_date DESC LIMIT 1)
		ORDER BY a.date,
		  a.period_type 
	</select>
</mapper>
