<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quantdo.iwin.mapper.ReportSettingMapper">
	
	<!-- 获取基金评价配置列表 -->
	<select id="getReportSettingList" parameterType="map"
		resultType="com.quantdo.iwin.response.ReportSettingResponse">
		SELECT
		 id id,
		 report_id reportId,
		 report_name reportName,
		 organization_id organizationId
		FROM t_fund_evaluation_report_parameter 
		  WHERE 1=1 
		<if test="request.reportName != null and request.reportName !=''">
			 and report_name LIKE  CONCAT('%',#{request.reportName,jdbcType=VARCHAR}, '%')  
		</if>
		<if test="idList != null">
		     and organization_id IN
			 <foreach item="organizationId" index="index" collection="idList" open="(" separator="," close=")">  
		            #{organizationId}  
	  		</foreach>
		</if>
		GROUP BY report_id
	</select>
	
	
	<!-- 根据reportId获取对应报表指标配置列表 -->
	<select id="getKpiListByReportId" parameterType="map"
		resultType="com.quantdo.iwin.entity.FundEvaluationReportParameter">
		SELECT 
		  a.id id,
		  a.report_id reportId,
		  a.KPI kpi,
		  a.report_name reportName,
		  a.ser_no serNo,
		  a.weight weight,
		  a.period_type periodType,
		  a.calculate_type calculateType,
		  a.type type,
		  a.organization_id organizationId
		FROM
		  t_fund_evaluation_report_parameter a 
		  WHERE  a.report_id =#{reportId,jdbcType=VARCHAR}
		   AND TYPE IS NOT NULL AND kpi IS NOT NULL
		order by  a.ser_no
	</select>
</mapper>
